# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

raw_data/example
raw_data/example/
raw_data/example/sample3.raw

raw_data/mzxml
raw_data/mzxml/
raw_data/mzxml/sample3.mzXML

raw_data/cell_liang_2020
raw_data/cell_liang_2020/

data_analysis/mass_dataset_class
data_analysis/mass_dataset_class/

data_analysis/data_cleaning
data_analysis/data_cleaning/

data_analysis/in_house_database_construction
data_analysis/in_house_database_construction/

data_analysis/output_database
data_analysis/output_database/

data_analysis/metabolite_annotaion/
data_analysis/metabolite_annotaion

data_analysis/pathway_enrichment/
data_analysis/pathway_enrichment

data_analysis/massdatabase/
data_analysis/massdatabase




